<html>
<head>
  <title>Which test do you want?</title>
</head>
<body>
  <div>
    Project 7:
    <a href="http://0.0.0.0:5001/ui">UI</a>
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <div>
  <h1>All</h1>
  <button onclick="window.location.href='http://0.0.0.0:5001/listAll'" type="button">ListAll</button>
  <button onclick="window.location.href='http://0.0.0.0:5001/listAll?top=3'" type="button">ListAll?top=3</button>
  <button onclick="window.location.href='http://0.0.0.0:5001/listAll/csv'" type="button">ListAll/csv</button>
  <button onclick="window.location.href='http://0.0.0.0:5001/listAll/csv?top=3'" type="button">ListAll/csv?top=3</button>
  <h2>Open</h2>
  <button onclick="window.location.href='http://0.0.0.0:5001/listOpenOnly'" type="button">ListOpenOnly</button>
  <button onclick="window.location.href='http://0.0.0.0:5001/listOpenOnly?top=3'" type="button">ListOpenOnly?top=3</button>
  <button onclick="window.location.href='http://0.0.0.0:5001/listOpenOnly/csv'" type="button">ListOpenOnly/csv</button>
  <button onclick="window.location.href='http://0.0.0.0:5001/listOpenOnly/csv?top=3'" type="button">ListOpenOnly/csv?top=3</button>
  <h3>Close</h3>
  <button onclick="window.location.href='http://0.0.0.0:5001/listCloseOnly'" type="button">ListCloseOnly</button>
  <button onclick="window.location.href='http://0.0.0.0:5001/listCloseOnly'" type="button">ListCloseOnly?top=3</button>
  <button onclick="window.location.href='http://0.0.0.0:5001/listCloseOnly/csv'" type="button">ListCloseOnly/csv</button>
  <button onclick="window.location.href='http://0.0.0.0:5001/listCloseOnly/csv?top=3'" type="button">ListCloseOnly/csv?top=3</button>
  </div>
  {% block content %}{% endblock %}
</body>
</html>
